<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>GeekWeather</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/alex/Developer/Scripts/GeekWeather2/GeekWeather2.sh</string>
    <string>40.410259</string>
    <string>-74.035055</string>
    <string>"AtlanticHighlands"</string>
    <string>LIGHT</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>60</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/GeekWeather.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/GeekWeather.out</string>
</dict>
</plist>
